name: Release

on:
  release:
    types: [published]
  push:
    tags:
      - "v*.*.*" # Triggers when you push a tag like v1.0.0
  workflow_dispatch:

env:
  HUSKY: 0
  
permissions:
  contents: write
  issues: write
  pull-requests: write
  
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun ci
      - run: bun run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: ./dist

  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      packages: write
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun ci

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-output
          path: ./dist

      - name: Set up npm auth
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish to npm
        run: bunx npm publish --access public
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          
      - name: Release Changelog
        uses: googleapis/release-please-action@v4
        with:
          release-type: simple
