name: Release

on:
  release:
    types: [published]
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun ci
      - run: bun run build
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: ./dist

  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun ci

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-output
          path: ./dist

      - name: Extract version from Git tag
        id: get_version
        run: |
          REF="${{ github.ref }}"
          if [[ "$REF" == refs/tags/v* ]]; then
            VERSION=$(echo ${REF#refs/tags/v})
            echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
            echo "Found tag version: $VERSION"
          else
            echo "Not a semantic version tag push, skipping extraction."
            echo "VERSION=" >> $GITHUB_OUTPUT
            exit 1
          fi

      - name: Update package.json version
        run: |
          VERSION="${{ steps.get_version.outputs.VERSION }}"
          echo "Applying version $VERSION to package.json"
          bun pm version "$VERSION" --no-git-tag-version

      - name: Publish to npm
        if: steps.get_version.outputs.VERSION != ''
        run: bun pm publish --access public
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
