name: releases

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
        with:
          node-version: latest
      - run: bun ci
      - run: bun run build

  publish-gpr:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
        with:
          node-version: latest
          registry-url: https://npm.pkg.github.com/
      - run: bun ci
      - run: bunx npm run publish 
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
